@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* global */
* {
    font-family: 'Nunito', sans-serif;
}
body {
    background-color: white;
}
.link-info {
    background-color: #08BED7;
    color: #f9fbf2 !important;
}

.btn-rounded {
    padding: 10px 40px !important;
    border-radius: 30px;
}

.link-navy {
    background-color: #111342;
    color: #f9fbf2 !important;
    text-decoration: none;
}

.nav-link {
    font-weight: bold;
}

.nav-link.active {
    color: #111342 !important;
}

.image-full {
    width: 100%;
}

.bg-navy {
    background-color: #111342;
}
.btn-square {
    padding: 10px 40px !important;
    border-radius: 7px;
    font-weight: bold;
}

.stretched-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
/* end global */


/* description */
.description {
    padding-left: 50px;
}

.description .sub-title {
    color: #08BED7;
    font-weight: 500;
}

.description .title {
    font-size: 24px;
    font-weight: bold;
    color: #111342;
}

.description .desc {
    margin: 22px 0;
}
.description .desc-kelas {
    color: #8F8F8F !important;
    margin: 22px 0;
}
/* end description */

/* section2 */
.section-2 .title {
    font-size: 30px;
    font-weight: bold;
    color: #111342;
    letter-spacing: -1px;
    margin-bottom: 40px;
}

.section-2 .desc-get {
    color: #111342;
    font-weight: bold;
    padding-top: 10px;
    margin: 0;
}

.section-2 .card-grey {
    background-color: #EEEEEE;
    margin: 2px;
    padding: 30px 20px;
    border-radius: 20px;
}
/* end section2 */

/* section 3 */

.section-3 .title {
    font-size: 30px;
    font-weight: 900;
    color: #111342;
}

.section-desc {
    margin-bottom: 50px;
}

.card-kelas {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    margin: 13px 2px;
    position: relative;
}
.card-kelas img {
    width: 100%;
    border-radius: 10px;
}
.card-kelas .card-title-kelas {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    color: #111342;
}

.card-kelas .card-desc-kelas {
    color: #8F8F8F;
    font-size: 14px;
}
/* end section 3 */

/* desc-footer */
.desc-footer {
    color: #f9fbf2;
    line-height: 20px;
}
.copyright {
    margin: 0;
    color: #f9fbf2;
}
.title-menu {
    font-size: 25px;
    color: #f9f9f9;
}
.menu-section .menu {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu-section .menu a {
    text-decoration: none;
    color: #f9f9f9;
}
/* end desc-footer */


/* form */
.former {
    background-color: #F5F7F8;
    border-radius: 25px;
    padding: 50px 80px;
}
.former .form-control {
    background-color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
}

.former .form-control::placeholder {
    font-weight: bold;
}

.link-form {
    color: #111342;
    font-weight: bolder;
    text-decoration: none;

}
.btn-full-navy {
    width: 100%;
    background-color: #111342;
    color: #f9f9f9;
    font-weight: bold;
    padding: 10px 0;
    border-radius: 30px;
}
.btn-full-greenlight {
    width: 100%;
    background-color: #08BED7;
    color: #f9f9f9;
    font-weight: bold;
    padding: 10px 0;
    border-radius: 30px;
}

.form-select {
    font-weight: bold;
    color: #6c757d;
}
/* end form */

@media (max-width: 1200px) {
    .description {
        padding: 20px 12px;
    }
}
